<div id="<%= dom_id restaurant %>">
  <p>
    <strong>restaurant_name:</strong>
    <%= restaurant.restaurant_name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= restaurant.address %>
  </p>
</div>